.full{
    background-image: url("../assets/Company.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     height: 300px;
     width: 100vw;
     display: flex;
     flex: 1;
     flex-direction: row;
     justify-content: space-between;
     align-items: center;        
  padding: 0 2rem; 
}
.h1{
   font-style: italic;
   font-family: 'Times New Roman', Times, serif;
}
.full h2{
     font-style: italic;
   font-family: 'Times New Roman', Times, serif; 
}
.full img{
    height: 100px;
    width: 100px;
}